body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header {
  width: 100%;
}

.ul--navbar {
  list-style: none;
  display: flex;
  gap: 3%;
}

.dropdown--menu {
  display: none;
}

.exit--menu {
  display: none;
}

.li--navbar {
  text-transform: uppercase;
}

.visible--navbar {
  margin: 0 5px;
}

.navbar--menu {
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
