body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
}

.text {
  text-align: left;
  position: relative;
  text-transform: uppercase;
  animation: floatText 5s infinite linear;
}

@keyframes floatText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.underline {
  color: white;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.menu {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  margin: 0 15px;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.logo {
  margin: 0 15px;
}

.m {
  margin: 15px;
}
